#search {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #2c3e50;
    background: #97C3F9;
}
#invalidInput {
   font-family: 'Avenir', Helvetica, Arial, serif;
   font-size: 24px;
   font-style: italic;
   color: #0E0E47;
   background: #97C3F9;
 }
 #reserve{
   font-family: 'Avenir', Helvetica, Arial, sans-serif;
   font-size: 30px;
   background: #ffffff;
 }
 #transaction {
   font-family: 'Avenir', Helvetica, Arial, sans-serif;
   font-size: 30px;
   color: #2c3e50;
   background: #97C3F9;
 }